.*
*.cmd
*.ps1
*.sln
docker-compose.yml
clustering.json
persistence.json
k8s-deployment.yml
k8s-deployment.ymlt
local-k8s-rbac.yml
tye.yaml
Makefile
Dockerfile
**/bin/
**/obj/
**/out/
**/node_modules/
**/deploy/