## Setup

# This file is included by the Makefile, and is in Makefile syntax

# The 'sub' variable refers to the active subscription you want to use.
# You can get this from:
#   1. the portal
#   2. when you run `az login` or `make az-login` and get the list of subscriptions you have access to
#
# Use the 'id' guid WITHOUT quote marks.
#
#  e.g.
#  sub=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
sub=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# The 'org' variable refers to your organization name.
# You should use a version of your organization name that has 6-20 lowercase alphanumerics. (Only [a-z][0-9] allowed.)
# This organization name should be sufficiently random that it results in a unique ACR name, so you should consider
#   suffixing it with a random 6-digit number.
# You can get a random number by running `make get-random-number`
#
#  e.g.
#  org="jaz013468"
org=jsa013468

# The 'region' variable refers to the azure region you want your resources to be created in.
#
# You can run `make az-showregions` for the current list of regions
#
# Check out https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=all to choose a region
# Be aware that not all regions support all resources, and that prices and regulations vary between regions/geographies.
# Pick a region that supports AKS, Storage, Analytics Workspaces and Key Vaults
#
#  e.g
#  region=eastus2
region=westus2

org-lc=$(shell echo $(org) | tr A-Z a-z)
oaks_name=$(org-lc)-oaks
oaks_resource_group=rg-$(oaks_name)
oaks_keyvault=kv-$(oaks_name)
oaks_lawks=lawks-$(oaks_name)
oaks_acr=$(shell echo """acr$(org-lc)$(oaks)""" | cut -c1-45 | tr A-Z a-z)
oaks_acr_login_server=$(oaks_acr).azurecr.io
acr=$(oaks_acr_login_server)

project   :=Template
project-lc:=$(shell echo $(project) | tr A-Z a-z)

paks_name=$(org-lc)-$(project-lc)
paks_resource_group=rg-$(paks_name)
paks_keyvault=kv-$(paks_name)
paks_cluster=aks-$(paks_name)
paks_storage=$(shell echo """stg$(org-lc)$(project-lc)""" | cut -c1-45 | tr A-Z a-z)

# The 'oaks_acr_login_token' variable is used to log into the ACR when you do not have the 'az cli' installed, 
#   such as when the 'az cli' is being run from within a docker container.
# 
# From the docker container, run `make oaks-login-acr` and carefully copy the value and put it into this file, and save it!
#
# Secrets like this are why we have included this file in .gitignore
oaks_acr_login_token=
